<div class="row">
    <div class="col-md-4 col-md-offset-4">
        
        <form action="" method="POST" [formGroup]="formLogin" (submit)="onLogin()">
            <legend>Form login</legend>
        
            <div class="form-group">
                <label for="">Email</label>
                <input type="text" class="form-control" formControlName="email" placeholder="Input email">
            </div>
        
            <div class="form-group">
                <label for="">Email</label>
                <input type="password" class="form-control" formControlName="password" placeholder="Input password">
            </div>
        
            
        
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
        
    </div>
</div>