
<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" *ngFor="let prod of products">
    <div class="thumbnail">
        <img src="http://localhost:3000/uploads/{{prod.image}}" alt="">
        <div class="caption text-center">
            <h3>{{prod.name}}</h3>
            <p>
                ...
            </p>
            <p>
                <a href="#" class="btn btn-primary">Action</a>
                <a href="#" class="btn btn-default">Action</a>
            </p>
        </div>
    </div>
</div>
